body {
  height: 100vh;

}

.react-calendar {
  border: none;
  width: 100%;
}

.react-calendar__navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f0f0f0;
  padding: 10px;
  border-radius: 8px;
}

.react-calendar__navigation button {
  background: none;
  border: none;
  color: #333;
  font-size: 16px;
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 5px;
}

.react-calendar__navigation button:disabled {
  color: #ccc;
  cursor: not-allowed;
}

.react-calendar__navigation button:hover:enabled {
  background-color: #ddd;
}

.react-calendar__month-view__days__day {
  border: 1px solid #ddd;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}

.react-calendar__tile {
  border: none;
  border-radius: 0;
  background: none;
}

.react-calendar__tile--active {
  background-color: black;
  font-size: 22px;
  font-weight: 700;
  color: rgb(10, 0, 31);
}

.react-calendar__tile--now {
  background: #eee;
  color: red;
}

.react-calendar__month-view__days__day:nth-child(odd) {
  background-color: #f9f9f9;
}

.react-calendar__month-view__days__day:nth-child(even) {
  background-color: #fff;
}

.react-calendar__month-view__week:nth-child(odd)
  .react-calendar__month-view__days__day {
  background-color: #f1f1f1;
}

.react-calendar__month-view__week:nth-child(even)
  .react-calendar__month-view__days__day {
  background-color: #fafafa;
}
